body {
  background-color: #fafafa
}

.uploadPic {
  display: inline-block;
}

.profile {
  display: flex;
  justify-content: space-around;
}
#profilePicture {
  width: 105px;
}
.btn {
  padding: 0px;
}

#profileInfo {
  display: inline-block;
}

#infoP {
  margin-right: 5px;
}

#statdiv {
  display: flex;
}

input {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #0a0a0a;
  padding: 5px;
}

.personalFeed {
  padding: 0px;
  padding: 5px;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer .card {
  width: 200px;
}

.createItemContainer:first-child {
  padding-bottom: 40px;
}

ul {
  list-style-type: none;
}

.createItemContainer button {
  width: 100px;
}

#profileOpen {
  text-decoration: none;
  color: black;
}
#profileOpen:hover {
  text-decoration: none;
  color: pink;
}

.loadMore {
  margin: 0 auto;
}

.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}


/* styles for testing */
.post-container {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
}

.feedHeader {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: center;
}
.container {
  width: 60%;
}